<div id="task_fields_<%= task_counter %>" class="task_container">
  <% field_set_tag do %>
    <% fields_for "project[tasks_attributes][#{task_counter}]", task do |task_form| %>
      <%= task_form.hidden_field :id %>
      <%= task_form.hidden_field :_delete, :value => 0 %>

      <%= link_to "Delete", '#', { :id => "delete_task_#{task_counter}", :class => "delete_task" } %>

      <div>
        <%= render :partial => 'tasks/form', :locals => { :f => task_form } %>
      </div>
    <% end %>
  <% end %>
</div>
